@import 'tailwindcss';

@theme {
  --color-cream: #fffecb;
  --color-cream-dark: #e9e8a9;
}

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
  overflow: hidden;
  background-color: rgb(27, 38, 59);
  color: rgb(235, 185, 223);
  font-family: 'Honey Crepes', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 6px solid rgb(13, 27, 42);
}

@media (prefers-color-scheme: light) {

}
